
.component-head-info{
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid $gray-400;
  min-height: initial;
  @include Screen(MD){
    min-height: 74px;
  }

  .btn-back-mobile{
    // background-color: transparent;
    // font-size: 24px;
    // border: none;
    // padding: 0;
    // display: block;
  }

  .user-active-chat{
    flex-grow: 999;
    position: relative;
    padding: 10px 20px;
    box-sizing: border-box;
    

    .state-avatar{
      box-sizing: content-box;
      position: absolute;
      top: 50%;
      display: block;
      padding: 0;
      margin: 0;
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;
      overflow: hidden;
      border-radius: 50%;
      border: 1px solid #e4e4e4;
      @include render-transform(translateY(-50%));

      img{
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
      }
    }

    .text-info{
      display: block;
      padding: 7px 7px 7px 55px;
      // color: $custom-primary-color-dark;
      font-family: 'KozGoPro';
      text-transform: uppercase;
  
      .name{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: inherit;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        color: #404040;
        &:hover{
          color: #009cff;
          cursor: pointer;
        }
      }
      .time-online{
        display: block;
        font-size: 12px;
        color: $gray-600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;

        &.active-now{
          color: $custom-green;
        }
      }
    }
  }
}
