
.typing{
  display: none;
  padding: 2px 7px;
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 100%;
  background-color: $gray-200;
  border-radius: 0 8px 0 0;
  border: unset;
  line-height: 1.3;
  font-size: 9px;
  &.show{
    display: block;
  }
  &__named{
    max-width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.blockinput{
  border-left: none;
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 5px 5px 5px;
  border-top: 1px solid $gray-200;
  
  textarea{
    width: 80%;
    flex-grow: 999;
    min-height: 30px;
    max-height: 150px;
    overflow-y: scroll;
    resize: none;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 50px;
    border: unset;
    font-size: 16px;
    scrollbar-width: none;
    margin: 0;
    text-decoration: none;
    -ms-overflow-style : none;

    &:focus{
      border: unset;
      i.hero-icon.send{
        color: red!important;
      }
    }

    &::-webkit-scrollbar {
      display: block;
    }
  }

  & > i.fa-icon, & > i.hero-icon {
    color: #404040;
    width: 48px;
    height: 48px;
    margin: 5px;
    background: #f1f1f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 23px;
    &:hover{
      cursor: pointer!important;
      color: #fff;
      background-color: #009cff;
    }
  }
  .fa-icon{
    &.calendar{
    }

    &.emoticon{
      left: 35px;
    }

    &.file{
      left: 65px;
    }
    &.send{
      // display: inline-block;
      // z-index: 1;
      // right: 10px;
    }
    &.react{
      z-index: -1;
      display: none;
      right: 0px;
    }
  }

  .image-block{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: $gray-300;
    z-index: 3;
    text-align: center;

    .remove-image{
      max-height: 100px;
      overflow: hidden;
      display: inline-block;
      position: relative;

      &:after{
        position: absolute;
        top: 5px;
        right: 5px;
        content: "\F0157";
        width: 32px;
        height: 24px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        line-height: 24px;
        font: normal normal normal 24px/1 "HERO Icons";
        text-rendering: auto;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
      }
      &:hover{
        img{
          opacity: 0.4;
        }
        &:after{
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-name: tada;
        }
      }
    }
    img{
      padding: 5px;
      opacity: .9;
    }
  }
}



@include Responsive(SM){
  
  .blockinput{
    
    textarea{
      padding: 10px;
      background-color: #f2f2f2;
      border-radius: 20px;
      font-size: 16px;
      resize: none; 
      min-height: 10px
    }
    
    & > i.fa-icon, & > i.hero-icon {
      width: 30px;
      height: 30px;
      background: transparent;
      font-size: 17px;
      &:hover{
        cursor: pointer!important;
        color: #009cff;
        background-color: transparent;
      }
    }
  }
}