

.btn-load-message-more{
  text-align: center;
  color: #94a7d9;
}

.component-message-chat{
  padding-top: 2px;
  @include clearfix();
}

.mess__content{
  @include clearfix();
  
  .readmore{
    display: block;
    text-decoration: underline;
    color: $blue;
    cursor: pointer;
    text-align: right;
  }

  &-avatar{
    width: 35px;
    height: 35px;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    img{
      width: 100%;
      height: auto;
    }
  }
  &-main{
    padding-left: 40px;
    display: block;
    width: 100%;
  }
  &-text{
    max-width: 60%;
    width: fit-content;
    width: -moz-fit-content;
    display: block;
    line-height: 1.3;
    padding: 10px;
    font-size: 13px;
    border-radius: 0px 15px 15px 15px;
    white-space: pre-line;
    word-break: break-word;
    background-color:rgb(110 192 99 / 71%);
    color: #575757;
    position: relative;
    z-index: 2;
  }
}

//// css image 
.IMAGE{
  text-align: left;
  .wrapper-attachment{
    padding: 5px;
    display: inline-block;
    max-width: 200px;
    position: relative;

    img{
      width: 100%;
      height: auto;
      &:hover{
        opacity: 0.5;
      }
    }
    .download-file-attachment{
      position: absolute;
      top: 10px;
      right: 10px;
      
      i{
        text-align: center;
        background-color: $white;
        color: $custom-primary-color-dark;
        border-radius: 50%;
        border: 1px solid $custom-primary-color-dark;
        width: 25px;
        height: 25px;
        font-size: 15px;
      }
    }
  }
}
/// css EMOJI
.EMOJI{
  font-size: 30px;
  padding: 0;
  background: none!important;
  
  .mess__content-text.EMOJI{
    background: transparent !important;
    font-size: 35px;
    padding: 0 10px;
    max-width: 80px;
  }
}
/// css BOOKING_STATE message
.BOOKING_STATE, .BOOKING_PAYMENT_CHANGE_SUCCESS{
  border: 1px solid $gray-900!important;
  strong{
    font-size: 20px;
  }
}

.messread{
  float: left;
  line-height: 0.8;
  &.error{
    span, time, i{
      color: $red
    }
  }
  span, time{
    font-size: 9px;
    color: #bbbaba;
    line-height: 1.3;
  }
  i.hero-icon{
    height: 10px;
    color: #bbbaba;
    font-size: 9px;
    line-height: 12px;
    width: 15px;
  }
}
///// fix content byme
.messright{

  .BOOKING_PAYMENT_ERROR{
    &.mess__content-text{
      // background-color: $red;
    }
  }
  
  .mess__content-text{
    float: right;
    background-color: #ffd5b3;
    border-radius: 15px 15px 0 15px;
  }

  .mess__content-avatar{
    float: right;
    display: none; //// command display
  }

  .mess__content-main{
    @include clearfix();
    // padding-right: 40px;
    padding-left: 0;
  }
  .EMOJI{
    text-align: right;
  }
  .IMAGE{
    text-align: right!important;
  }
  .messread{
    float: right;
    display: block;
    width: 100%;
    text-align: right;

    &.error{
      color: $red
    }
  }
}



@include Responsive(SM){
  .mess__content{
    
    &-text{
      max-width: 90%;
    }
  }
}