@import "./alo_now";
@import "./backtop";

.wrapper-footer-page {
    color: $white;
    background-color: #1c2331 !important;
	position: relative;
	z-index: 0;
    text-align: center;
    
	.head-footer {
        
		padding: 30px 60px 15px 60px;
		@include Responsive(SM) {
			padding: 20px 15px 15px 15px;
        }

		.footer-title {
			font-size: 26px;
			line-height: 45px;
			// font-family: $font-archivo-medium;
			.contact__code_web {
                cursor: pointer;
                text-align: center;
                text-transform: capitalize
			}
		}
		.des-footer {
			margin: 0 auto;
			padding: 20px;
			max-width: 600px;
		}
	}
	
	.component-footer-content {
		text-align: left;
		max-width: 1100px;
		margin: 0 auto;
		border-top: 1px solid #795548;
		padding-top: 20px;
		@include clearfix();
		.about-us {
			width: 100%;
			.intro__ebudezain{
				line-height: 1.3;
			}
			@include Screen(MD) {
				width: 30%;
            }
		}
		.dev_infor {
			width: 100%;
			@include Screen(MD) {
				width: 40%;
				float: none;
            }
            .information{

                &__item{
                    position: relative;
                    padding: 10px 0 10px 35px;

                    &__des, &__des>a{

                        color: $white;
                        font-size: 13px;
                        font-weight: 100;
                    }
                    .icon__fa-svg{
                        color: rgb(173, 181, 189);
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 24px;
						fill: #adb5bd;
						svg{
							@include render-transform(translateY(-50%));
						}
                    }
                    &.information__email .information__item__des>a{
                        color: #2bbbad;
                    }
                }
                
            }
		}
		.company {
			padding: 15px;
			width: 100%;
			float: left;
			line-height: 1.3;

			@include Screen(MD) {
				width: 30%;
            }

			&__title{
				position: relative;
				text-transform: uppercase;
				font-size: 20px;
				font-weight: 300;
				padding: 10px 0;
		
				&-link{
					color: $green_light;
					margin-bottom: 2rem;
		
					&:hover{
						color: $red;
					}
				}
				&:before {
					background: #6d6d6d;
					content: ".";
					color: transparent;
					position: absolute;
					bottom: 0;
					left: 0;
					height: 2px;
					border-radius: 10px;
					width: 30px;
				}
			}
			// &__des{
			// 	color: $blue-dark;
			// }
			&__menu{
				margin-bottom: 1rem;
		
				ul{
					padding: 0;
					margin: 0;
				}
		
				&-item{
					padding-bottom: .8rem;
					color: $white;
					font-size: 16px;
					transition: all .3s;
					a{
						transition: all .3s;
						color: $gray-400;
					}
					&:hover a{
						color: $pink;
						margin-left: 5px;
						transition: all .3s;
					}
				}
			}
		}
		.about-us,
		.dev_infor {
			padding: 15px;
			line-height: 1;
			vertical-align: middle;
			float: left;
			// font-family: $font-archivo-medium;
			
			p {
				margin-bottom: 10px;
				cursor: pointer;
				&:hover {
					span {
						color: $gray-500;
					}
					a {
						color: $link-hover-color;
					}
					.hero-icon {
						color: $custom-purple;
					}
				}
			}
			.title, .title>a{
				font-size: 21px;
				color: #2bbbad;
				text-transform: capitalize;
				padding-bottom: 15px;
				margin-bottom: 0;
			}
			span,
			a {
				vertical-align: middle;
				font-size: 13px;
				color: $gray-700;
			}
			.hero-icon {
				width: 20px;
				margin-right: 10px;
				vertical-align: middle;
				font-size: 24px;
				color: $custom-primary-color-dark;
			}
		}
	}
}

.address_detail_map {
	font-size: 11px;
	color: $gray-700;
}

.main_color {
	font-size: 13px;
	color: $custom-primary-color-dark;
}