$awe-icons: (
             building : "\f1ad",
 calendar-alt : "\f073",
 calendar-check : "\f274",
 camera-retro : "\f083",
 clock : "\f017",
 comment : "\f075",
 comment-alt-lines : "\f4a6",
 comment-alt-plus : "\f4a8",
 compass : "\f14e",
 edit : "\f044",
 ellipsis-h : "\f141",
 envelope : "\f0e0",
 eye : "\f06e",
 facebook-f : "\f39e",
 google-plus-g : "\f0d5",
 heart : "\f004",
 house-flood : "\f74f",
 image : "\f03e",
 info-square : "\f30f",
 instagram : "\f16d",
 line-height : "\f871",
 lock-open-alt : "\f3c2",
 map-marker-alt : "\f3c5",
 money-check-edit-alt : "\f873",
 percentage : "\f541",
 phone-alt : "\f879",
 phone-square-alt : "\f87b",
 question-circle : "\f059",
 retweet : "\f079",
 road : "\f018",
 search-plus : "\f00e",
 star : "\f005",
 street-view : "\f21d",
 thumbs-up : "\f164",
 user-shield : "\f505",
 youtube : "\f167"
            )!default;