$awe-icons: (
             building : "\f1ad",
 calendar-alt : "\f073",
 calendar-check : "\f274",
 cogs : "\f085",
 comment-alt-lines : "\f4a6",
 compass : "\f14e",
 drafting-compass : "\f568",
 envelope : "\f0e0",
 eye : "\f06e",
 facebook-f : "\f39e",
 google-plus-g : "\f0d5",
 heart : "\f004",
 house-flood : "\f74f",
 image : "\f03e",
 info-square : "\f30f",
 instagram : "\f16d",
 line-height : "\f871",
 lock-open-alt : "\f3c2",
 map-marker-alt : "\f3c5",
 people-arrows : "\f968",
 phone-alt : "\f879",
 phone-square-alt : "\f87b",
 question-circle : "\f059",
 question-square : "\f2fd",
 quote-right : "\f10e",
 retweet : "\f079",
 road : "\f018",
 sack-dollar : "\f81d",
 search-plus : "\f00e",
 street-view : "\f21d",
 thumbs-up : "\f164",
 user-chart : "\f6a3",
 user-shield : "\f505",
 youtube : "\f167"
            )!default;