/* The container__radio */
.container__radio {
  text-align: left;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 20px;
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
}
.container__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  /* When the radio button is checked, add a blue background */
}
.container__radio input:checked ~ .checkmark {
  background-color: #10772f;
}
.container__radio input:checked ~ .checkmark:after {
  display: block;
}
.container__radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #647e6c;
  /* Create the indicator (the dot/circle - hidden when not checked) */
}
.container__radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.container__radio:hover input ~ .checkmark {
  background-color: #b6f0c7;
}
.container__radio:active input ~ .checkmark {
  background-color: #10772f !important;
}

.post__root-react {
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px 15px 2rem 15px;
}
.post__root-react .post__header {
  border-bottom: 1px solid #adb5bd;
  padding: 0 5px 10px 5px;
  text-transform: capitalize;
  line-height: 1.3;
  font-size: 16px;
  padding-top: 15px;
}

.wrapper-verify {
  max-width: 500px;
  margin: 0 auto;
}
.wrapper-verify .verify {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #adb5bd;
  text-align: left;
  padding: 0 10px 15px;
  transition: box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1);
  border: 1px solid #dadce0;
}
@media (min-width: 576px) {
  .wrapper-verify .verify {
    padding: 15px 30px;
  }
}
.wrapper-verify .verify__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #cfd7d1;
}
.wrapper-verify .verify__header i.icon {
  font-size: 18px;
  padding: 10px 11px;
  border-radius: 50%;
  color: #0d3617;
  background-color: #e2e7e3;
}
.wrapper-verify .verify__header .title {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  color: #0d3617;
  flex: 1;
  padding: 0 15px;
}
.wrapper-verify .verify__footer {
  text-align: center;
}
.wrapper-verify .verify__footer .btn__close {
  text-decoration: underline;
  color: #4285f4;
  font-size: 14px;
}
.wrapper-verify .wrapper-recapcha {
  padding-top: 20px;
}
.wrapper-verify .form-group {
  padding-top: 20px;
}
.wrapper-verify .form-group .error {
  display: block;
  text-align: left;
  text-transform: capitalize;
  color: #dc3545;
  font-size: 12px;
  font-weight: 100;
  line-height: 1.2;
  padding-bottom: 20px;
}
.wrapper-verify .form-group .input-group {
  display: block;
  margin: 12px 0;
  position: relative;
  height: 50px;
}
.wrapper-verify .form-group .input-group:hover .input-control {
  border-bottom: 1px solid #0d1f06;
}
.wrapper-verify .form-group .input-group:hover .icon {
  color: #0d1f06;
}
.wrapper-verify .form-group .input-group.input-group-error .input-control {
  border-bottom: 1px solid #dc3545 !important;
  color: #dc3545 !important;
}
.wrapper-verify .form-group .input-group.input-group-error .icon {
  color: #dc3545 !important;
}
.wrapper-verify .form-group .input-group .input-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #525666;
  background-color: transparent;
  padding-left: 45px;
  border-radius: 0;
  font-size: 16px;
  transition: border 0.3s linear;
  border: none;
  border-bottom: 1px solid #ccc;
}
@media (min-width: 768px) {
  .wrapper-verify .form-group .input-group .input-control {
    font-size: 15px;
  }
}
.wrapper-verify .form-group .input-group .input-control:focus {
  border-bottom: 1px solid #0d1f06;
}
.wrapper-verify .form-group .input-group .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  font-size: 22px;
  z-index: 3;
  color: #6c757d;
  transform: translateY(-50%);
}
.wrapper-verify .form-group .btn-login {
  margin-top: 15px;
  color: #fff;
  background: #1c5732;
  display: block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 0;
  border: none;
}

.categories__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5%;
}
.categories__header {
  border-bottom: 1px solid #adb5bd;
  padding: 0 5px 10px 5px;
  text-transform: capitalize;
  line-height: 1.3;
  font-size: 16px;
  font-weight: bold;
  padding-top: 15px;
}
.categories__title {
  text-align: center;
  position: relative;
  padding-bottom: 1rem;
  text-transform: capitalize;
  margin-top: 0;
  font-weight: 500;
}
.categories__title span {
  display: inline-block;
  font-weight: 300;
}
.categories__title:before {
  content: ".";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  border-radius: 10px;
  width: 30px;
  background: #8bc34a;
  transform: translateX(-50%);
}
.categories__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}
.categories__item {
  padding: 0.3rem 1.5%;
  width: 33.333%;
  color: #0d47a1;
  transform: scale(1, 1);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .categories__item {
    width: 20%;
  }
  .categories__item-link-text {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .categories__item {
    width: 16.666%;
  }
}
.categories__item:hover {
  transform: scale(1.07);
}
.categories__item-link-img {
  border-radius: 10px;
  overflow: hidden;
  display: block;
}
.categories__item-link-text {
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  color: currentColor;
  font-weight: normal;
  font-weight: bold;
  font-size: 13px;
}

.apartment {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}
.apartment__header {
  text-align: center;
  padding: 0 5px 10px 5px;
  text-transform: capitalize;
  line-height: 1.3;
  font-size: 16px;
  font-weight: bold;
  padding-top: 15px;
  position: relative;
}
.apartment__header-progress {
  margin: 0;
  border-radius: 0;
  height: 2px;
}
.apartment__header-progress.progress .progress-bar {
  background-color: #0d3617;
}
.apartment__title {
  text-align: center;
  display: block;
  width: 100%;
}
.apartment__btn-prev {
  position: absolute;
  left: 5px;
  top: 50%;
  color: #0d3617;
  transform: translateY(-50%);
}
.apartment__btn-prev:hover {
  color: #5a7661;
}
.apartment__btn-next {
  position: absolute;
  right: 5px;
  top: 50%;
  color: #0d3617;
  transform: translateY(-50%);
}
.apartment__btn-next:hover {
  color: #5a7661;
}
.apartment__wrapper {
  padding: 1rem 0;
}
.apartment__wrapper .user-information {
  padding: 3px;
}
.apartment__wrapper .user-information .form-group.required label:after {
  content: "*";
  color: red;
}
.apartment__footer {
  text-transform: capitalize;
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  border: 2px solid #4caf50;
}
.apartment__footer:hover {
  background-color: #fff;
  border: 2px solid #bfe2c0;
  color: #4caf50;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.apartment__footer:focus, .apartment__footer.focus {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  outline: 0;
}
.apartment__footer:disabled, .apartment__footer.disabled, fieldset:disabled .apartment__footer {
  pointer-events: none;
  opacity: 0.65;
}
