/SERVER_PHP/node_modules
/SERVER_PHP/public/hot
/SERVER_PHP/public/storage
/SERVER_PHP/public/upload
/SERVER_PHP/public/uploads
/SERVER_PHP/storage/*.key
/SERVER_PHP/vendor
/SERVER_PHP/.env
/SERVER_PHP/.env.backup
/SERVER_PHP/.phpunit.result.cache
/SERVER_PHP/Homestead.json
/SERVER_PHP/Homestead.yaml
/SERVER_PHP/npm-debug.log
/SERVER_PHP/yarn-error.log

/SERVER_PHP/composer.lock
SERVER_PHP/public/sitemap.xml
SERVER_PHP/public/sitemap/*.xml
SERVER_PHP/public/resizes/*
/SERVER_PHP/public/compress/*



/LARAVEL/node_modules
/LARAVEL/public/hot
/LARAVEL/public/storage
/LARAVEL/public/upload
/LARAVEL/storage/*.key
/LARAVEL/vendor
/LARAVEL/.env
/LARAVEL/.env.backup
/LARAVEL/.phpunit.result.cache
/LARAVEL/Homestead.json
/LARAVEL/Homestead.yaml
/LARAVEL/npm-debug.log
/LARAVEL/yarn-error.log

/LARAVEL/composer.lock
/LARAVEL/public/sitemap.xml
/LARAVEL/public/sitemap/*.xml
/LARAVEL/public/resizes/*
/LARAVEL/public/uploads/*


/SERVER_PHP_BAK/*


setting.vps.config
setting.ssl.config

node_modules
.vscode/launch.json
.DS_Store
.htaccess
BUILDER\readme.md

logs/*

.env
.env.backup
*.DS_Store
package-lock.json
/storage/*
.env.*
CHAT_BAK/*
db.sql