node_modules
public/hot
public/storage
public/upload
public/uploads
storage/*.key
vendor/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/cvt/*

composer.lock
SERVER_PHP/public/sitemap.xml
SERVER_PHP/public/sitemap/*.xml
SERVER_PHP/public/resizes/*
public/compress/*
public/cvt/*



/SERVER_PHP_BAK/*


setting.vps.config
setting.ssl.config

node_modules
.vscode/launch.json
.DS_Store
.htaccess
BUILDER\readme.md

logs/*

.env
.env.backup
*.DS_Store
package-lock.json
/storage/*
.env.*
CHAT_BAK/*
db.sql

./backend/dist/*
backend/yarn.lock