.content{
    
    &__product{
        padding: 80px 0 0;
        @include ScreenMax( SM ){ padding-top: 20px;}

        .product{

            &__container{
                max-width: 1200px;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
            }

            &__row{ 
                display: flex;
            }

            &__left{
                width: 70%;
            }

            &__right{
                width: 30%;
                padding: 15px;
            }
            
            @include ScreenMax( MD ){
                &__row{
                    flex-direction: column;
                }
                &__left, &__right { width: 100% ; }
                &__right{ display: block }
            }

            &__title{
                border-bottom: 1px dotted #ccc;
                position: relative;
                display: block;
                padding-bottom: 15px;
                @include clearfix();
    
                &--negotive{
                    color: $gray-700;
                    font-size: 24px;
                    font-weight: 800;
                    letter-spacing: 0.1px;
                    line-height: 1em;
                    margin: 0;
                    padding: 6px 0 4px;
                    text-transform: uppercase;
                    display: inline-block;
                    
                    .for-negotive {
                        font-size: 10px;
                        color: #fff;
                        font-weight: 400;
                        display: inline-block;
                        line-height: 27px;
                        margin-left: 15px;
                        padding: 0 15px;
                        background: #f18038;
                        position: relative;
                        top: -4px;
                    }
                }
                &--price{
                    float: right;
                    color: $custom-red-light;
                    float: right;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1em;
                }
                &--address{
                    color: #8d959a;
                    font-family: "Libre Baskerville",sans-serif;
                    font-size: 13px;
                    font-weight: 400;
                    letter-spacing: 0.1px;
                }
            }

            &__information{
                padding: 14px 0 23px;
                display: flex;
                @include ScreenMax( SM ){ flex-direction: column; padding: 14px 0 0; }

                .text, span, a{
                    font-size: 13px;
                    font-weight: 400;
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    color: #8d959a;
                    padding-right: 30px;
                }
                i {
                    font-size: 13px;
                    color: $custom-light-green;
                }
            }





            &__slider{
                width: 100%;
                overflow: hidden;
                // max-width: 500px;
                // margin: 0 auto ;

                .slider{
                    background-color: white;

                    &__item{
                        width: 100%;
                        // max-width: 550px;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }

                    &__nav{
                        padding: 10px;
                        border-radius: 4px;
                        background-color: white;

                        &--item{
                            padding: 0 2px;
                            .wrapper{
                                
                                border-radius: 6px;
                                overflow: hidden;
                                border: 3px solid transparent;
                                &:hover{
                                    border: 3px solid $custom-green;
                                }
                            }
                            
                        }
                    }
                }
            }



            &__data{
                font-family: 'Open Sans', sans-serif;
                

                .block{
                    padding-top: 30px;
                    
                    &__title{
                        padding: 15px 0;
                        color: #404040;
                        display: block;
                        font-size: 24px;
                        font-weight: 800;
                        position: relative;
                        text-align: left;
                        text-transform: uppercase;
                        position: relative;
                        margin-bottom: 20px;
                        &:after {
                            border-bottom: 1px solid #57bb57;
                            bottom: 0;
                            content: "";
                            left: 0;
                            position: absolute;
                            width: 60px;
                        }
                    }
                    &__data--content{
                        background-color: #fff;
                        padding: 15px;
                        line-height: 1.5em;
                        color: #777777;
                        font-size: 14px;
                        
                        color: #777777;
                        display: block;
                        font-size: 13px;
                        font-weight: 300;

                        h2{
                            font-weight: 800;
                            text-transform: uppercase;
                            line-height: 1em;
                            color: #ced4da;
                            padding: 15px 0;
                            transition: all 0.3s linear 0s;
                            color: #6c757d;
                            font-size: 16px;
                        }
                    }

                    .form{
                        background-color: #fff;
                        line-height: 1.5em;
                        color: #777777;
                        font-size: 14px;

                        &__wrapper{
                            padding: 30px 15px;
                        }
                        .bottom{
                            padding: 5px;

                            .btn-send-mail-contact{
                                display: inline-block;
                                color: $body-color;
                                text-align: center;
                                text-decoration: null;
                                white-space: normal;
                                word-wrap: break-word;
                                vertical-align: middle;
                                cursor: pointer;
                                user-select: none;
                                background-color: transparent;

                                padding: 0.7rem 1.5rem 0.6rem;
                                font-size: 0.81rem;
                                -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                                -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                                border: 2px solid transparent;
                                -webkit-border-radius: 0.125rem;
                                border-radius: 0.125rem;

                                background-color: $custom-green ;
                                color: $white;
                                border: 2px solid $custom-green ;

                                @include btn-interaction($white, color-level($custom-green , -8), $custom-green )
                            }
                        }
                        
                        .contact{
                            display: flex;
                            @include ScreenMax( XS ){ flex-direction: column; }

                            &__left{
                                flex: 1;
                                padding: 5px;
                            }

                            &__right{
                                flex: 1;
                                padding: 5px;
                            }
                            
                            input{
                                display: block;
                                width: 100%;
                                border-radius: 0;
                                outline: none;
                                padding: 7px 15px;
                                margin: 0 0 20px;
                                border: 1px solid $gray-300;

                                &:hover{
                                    border: 1px solid $green;
                                    color: $custom-green-dark;
                                }
                                &:last-child{
                                    margin-bottom: 0;
                                }
                            }
                            textarea{
                                display: block;
                                width: 100%;
                                border-radius: 0;
                                outline: none;
                                padding: 7px 15px;
                                margin: 0 0 20px;
                                border: 1px solid $gray-300;
                                height: 100%;
                                resize: none;
                                min-height: 60px;
                                &:hover{
                                    border: 1px solid $green;
                                    color: $custom-green-dark;
                                }
                            }
                        }
                    }

                    .company{
                        background-color: #fff;
                        line-height: 1.5em;
                        color: #777777;
                        font-size: 14px;
                        display: flex;
                        &-left{
                            position: relative;
                            width: 30%;
                            .img__cover {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                            }
                            @include ScreenMax(SM) { display: none;}
                        }
                        &-right{
                            width: 70%;
                            @include ScreenMax(SM) { width: 100%;}
                            &--content{
                                padding: 15px;

                                .title{
                                    margin-bottom: 20px;
                                    padding-bottom: 10px;
                                    border-bottom: 1px dotted #e7e7e7;
                                    a{
                                        font-weight: 800;
                                        text-transform: uppercase;
                                        line-height: 1em;
                                        color: $gray-400;
                                        padding: 15px 0 4px;
                                        transition: all 0.3s linear 0s;
                                        color: $gray-600;
                                        font-size: 16px;
                                    }
                                }
                                .description{
                                    font-family: 'Open Sans', sans-serif;
                                    color: #777777;
                                    display: block;
                                    font-size: 13px;
                                    font-weight: 300;
                                }
                            }
                        }
                    }
                }
                
            }
        }

        .categories{
            background: #fff;
            padding: 15px 20px;
            box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
            margin-bottom: 40px;
            ul{ 
                padding: 0; 
                margin: 0 ;

                li{
                    font-size: 12px;
                    font-family: 'Open Sans', sans-serif;
                    color: #c2c2c2;
                    border-bottom: 1px dotted #e8e8e8;
                    display: block;
                    position: relative;
                    text-align: left;
                    line-height: 42px;
                    padding-left: 20px;
                    transition: all 0.2s linear 0s;

                    &:last-child{
                        border-bottom: 1px dotted transparent;
                    }

                    a{
                        line-height: 42px;
                        color: #777777;
                        transition: all 0.2s linear 0s;

                        &::after{
                            content: "\f0a9";
                            position: absolute;
                            left: 0;
                            top: 0;
                            font-size: 12px;
                            font-family: "Font Awesome 5 Pro";
                            font-weight: 300;
                            color: #57bb57;
                        }

                        &:hover{
                            color: $custom-green;
                            padding-left: 10px;
                        }
                    }
                }
            }

            .category{
                
                &__title{
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #404040;
                    line-height: 1.3em;
                    letter-spacing: 0.1px;
                    position: relative;
                    padding-bottom: 20px;
                }
            }
        }


        .search{
            &__input{
                display: block;
                width: 100%;
                border-radius: 0;
                outline: none;
                padding: 7px 15px;
                margin: 0 0 20px;
                border: 1px solid $gray-300;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;

                &:hover{
                    border: 1px solid $green;
                    color: $custom-green-dark;
                }
            }
            select{
                display: block;
                width: 100%;
                border-radius: 0;
                outline: none;
                padding: 7px 15px;
                margin: 0 0 20px;
                border: 1px solid $gray-300;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
            }
            .btn__search{
                width: 100%;
                display: block;
                color: $body-color;
                text-align: center;
                text-decoration: null;
                white-space: normal;
                word-wrap: break-word;
                vertical-align: middle;
                cursor: pointer;
                user-select: none;
                background-color: transparent;

                padding: 0.7rem 1.5rem 0.6rem;
                font-size: 0.81rem;
                -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                border: 2px solid transparent;
                -webkit-border-radius: 0.125rem;
                border-radius: 0.125rem;

                background-color: $custom-green ;
                color: $white;
                border: 2px solid $custom-green ;

                @include btn-interaction($white, color-level($custom-green , -8), $custom-green )
            }
        }
    }
}