@import "./modal.chat.scss";
@import "./_home_select2.scss";
@import "./_intro.scss";
.homepage__search{
    
    padding: 50px;
    z-index: 10;
    background-color: #b7b7b7;

    &-bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 0) url(/images/cityscape.jpg) no-repeat center center / cover;
        color: #fff;
        font-family: "Arial";
        font-size: 15px;
        min-height: 265px;
        padding: 60px 15px 10px;
        text-align: center;
        opacity: 0.5;
    }
}


.homesearch{
    
    
    
    &__title{
        
        
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-family: Roboto,sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #111;
        text-decoration: none;
        line-height: 1.7;

    }

    &__main-title{
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0 20px 0;
    }

    
}

.search__form{
    max-width: 900px;

    .form{
        position: relative;
        z-index: 3;
        padding: 10px 0;

        .wrapper-head-form{
            padding: 10px 20px 10px;
            display: flex;
            flex-direction: row;
        }

        .search__locations{
            display: flex;
            align-items: center;
        }
        .wrapper-bottom-form{
            padding: 10px 20px 10px;
            display: flex;
            flex-direction: row;
            z-index: 2;
            width: 70%;
            width: calc(100% - 150px);

            &.advanced-search{
                width: 100%;
            }
        }
        .wrapper__more{
            width: 30%;
            max-width: 100px;
            padding: 5px 15px 5px;
            text-align: center;
        }

        &:before{
            background-color: $green_dark;
            opacity: 0.85;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
        .wrapper-select{
            width: 200px;
            padding: 0 10px;
        }

        &__select-category{
            display: block;
            width: 100%;
        }
        
        .input-group{
            display: block;
            flex-grow: 999;
            padding: 0 10px;
            position: relative;
        }
        &__input{
            width: 100%;
            height: 48px;
            border: 1px solid #e0e0e0;
            border-radius: 0;
            box-shadow: none;
            background-color: #f0f0f0;
            font-weight: 400;
            font-size: 15px;
            padding: 10px 20px;

            &:hover, &:focus{
                border: 1px solid $green_light;
                color: $green_light;
            }
        }
        

        .wrapper-search-btn{
            display: block;
            width: 150px;
            padding: 0 10px;

            .btn__search{
                width: 100%;
                display: inline-block;
                vertical-align: top;
                position: relative;
                white-space: nowrap;
                text-align: center;
                min-width: auto;
                box-shadow: none;
                text-decoration: none;
                background-color: #d4ffe3;
                color: $green_dark;
                text-transform: uppercase;
                outline: 0;
                padding: 14px 30px;
                line-height: 18px;
                text-shadow: none;
                font-weight: 600;
                font-size: 13px;
                outline: none;
                border: 1px solid $green_dark;
                margin: 0;
                box-shadow: 2px 8px 16px 2px rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
                @extend .btn-hero;

                &:hover{
                    box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.3);
                }
            }
        }
        .btn__search-more{
            position: relative;
            z-index: 1;
            width: 100%;
            text-align: center;
            box-shadow: none;
            color: $white;
            outline: 0;
            padding: 0;
            line-height: 18px;
            display: inline-block;
        }
        
    }

    
}



.homeimportant{
    display: flex;
    border-bottom: 1px solid $gray-300;
    &__title{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 224px;
        position: relative;
        z-index: 1;
        color: $white;
        font-size: 18px;
        padding: 20px;        
        text-align: center;
        @include Responsive(SM) { font-size: 16px; }

        &:after{
            content: "";
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0.6;
            position: absolute;
            background-color: $green_dark;
            z-index: -1;
        }
    }
    &__content{
        position: relative;
        &:hover{
            opacity: 0.7;
            cursor: pointer;
            transition: all .3s;

            .hover__push-right{
                padding-left: 40px;
                padding-right: 10px;
            }
        }
        &-des{
            display: inline-block;
            padding: 20px 100px 20px 20px;
            font-size: 15px;
            font-weight: normal;
            font-style: italic;
            color: $green_dark;
            text-decoration: none!important;
        }
        &-btn{
            top: 50%;
            right: 0;
            opacity: 0.6;
            position: absolute;
            padding: 0 25px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            align-items: center;
            font-size: 22px;
            color: $gray-600;
            transition: 0.4s ease;
            @include render-transform(translateY(-50%));
        }
    }
}



.productmain{
    padding: 0 15px;
    @include Screen(MD){ padding: 0 3%; }

    &__title{
        padding-top: 30px;
        font-size: 28px;
        line-height: 38px;
        text-transform: none;
        color: #2d373f;
        margin-bottom: 5px;
        padding-bottom: 1rem;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            bottom: 0.5rem;
            left: 5px;
            height: 3px;
            border-radius: 10px;
            width: 30px;
            background: #8bc34a;
            text-align: left;
        }
    }

    &__container {
        padding: 30px 10px;
        &-fixpadding{
            padding: 0 5px;
            &:last-child{
                display: none;
            }
            @include Responsive(MD){ display: initial }
        }
    }
    &__item{
        border: 1px solid $gray-200;
        background-color: $white;
        padding: 10px;
        margin: 0 0 10px;

        &-smaller {
            font-size: .9em;
        }
        &-property{
            display: block;
            margin: 0;
            font-size: 12px;
            color: $gray-500;
            padding: 5px;
            line-height: 1.1;
            padding-left:0;
            list-style:none;
            
            &>li {
                padding: 0 10px 0 0;
                display:inline-block;
                padding-left:5px;
                padding-right:5px;
                &:first-child{
                    padding-left:0
                }
            }
        }
        &-moreinfo{
            font-size:11px;
            display: inline-block;
            width: 100%;
            color: $gray-500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &-title{
            color: $custom-unique-color-dark;
            font-weight: 600;
            font-size: 13px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        &-price{
            color: $custom-light-green;
            font-size: 12px;
            display: flex;
            justify-content: space-between;

            .price{
                display: inline-block;
            }
            .people-time{
                text-align: right;
                display: inline-block;
            }
        }
        img{
            max-width: 180px;
        }
    }
}
.productions{
    max-width: 1500px;
    margin: 0 auto;
    background-color:$gray-300;
    padding: 40px 15px;
    @include Screen(MD){ padding: 40px 3%; }

    &-fixrow{
        margin: 0 -5px;
    }
    &-fixcol{
        padding: 0 5px;
    }
    .item{
        margin-bottom: 15px;
        background: $white;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2 );
        position: relative;

        .counter__galeries{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 111;
            color: $white;
            font-size: 18px;
            font-weight: bold;
            padding: 5px;
        }

        &__action{
            position: relative;
            overflow: hidden;
            display: none;
            border-radius: 3px 3px 0 0;
            width: 100%;

            @include Screen(SM){ display: inline-block;  }
            &-react{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 45px;
                height: 45px;
                padding: 10px 0 0 10px;
                z-index: 112;
                overflow: hidden;
                font-size: 24px;
                color: $pink;
                border: none;
                outline: none;
                background-color: transparent;
                border-top-left-radius: 40px;

                &:after{
                    z-index: -1;
                    position: absolute;
                    content: "";
                    bottom: 0;
                    right: 0;
                    top : 0;
                    left: 0;
                    opacity: 0.6;
                    background-color: $white;
                    border-top-left-radius: 40px;
                }
            }
        }

        &__image{
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.12);
            width: 100%;
            vertical-align: middle;
            overflow: hidden;
            position: relative;
            
            .product-image{ width: 100% }

            .btn__view-detail{
            
                background-color: $white;
                color: $custom-pink ;
                border: 2px solid $custom-pink ;
            
                @include btn-interaction($custom-pink , color-level($custom-pink , -8), $white )
            }
            .hover__show-links{
                color: transparent;
                position: absolute;
                z-index: 99;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.5);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 25px;
                transform: scale(0);
                transition: all .3s ease-in-out;
            }
            &:hover .hover__show-links{
                transform: scale(1);
            }
        }
        .detail{
            font-size: 14px;
            padding: 10px 8px 0;
            overflow: hidden;
            @include Screen(SM){ padding: 0 15px 5px;  }

            &-name, &-name-link{
                color: #243238;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                margin: 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            &__info{
                margin-top: 5px;
                &-img{
                    max-width: 80px;
                    border-radius: 4px;
                    overflow: hidden;
                    position: relative;
                    margin-right: 5px;

                    @include Screen(SM){ display: none  }

                    .counter__galeries{
                        
                        color: $white;
                        font-size: 13px;
                        font-weight: bold;
                        padding: 0 5px;
                    }
                }
            }
            .tag{
                padding-bottom: 5px;
                &__row{
                    @include clearfix();
                }
                &__col{
                    float: left;
                    width: 50%;
                    font-size: 14px;
                    color: $gray-700;
                    line-height: 1.2;
                    display: block;
                    align-items: center;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    @include Screen(SM){ font-size: 12px; }
                }
            }
            &__footer{
                border-top: 1px solid $gray-400;
                padding: 10px 0;
                overflow: hidden;
                @include Screen(SM){ padding: 5px 0 0; }

                i{ color: $green_dark; }

                &-time{
                    padding: 2px 0;
                    float: left;
                    @include clearfix();
                    span { 
                        font-size: 12px;
                        line-height: 1.2;
                        font-weight: normal;
                    }
                    
                }
                // &-divider{
                //     float: left;
                //     color: $gray-500;
                //     line-height:1;
                //     font-size: 20px;
                //     padding: 0 5px;
                //     font-weight: 100;
                //     @include clearfix();
                // }
                &-messager{
                    color: $gray-800;
                    background-color: transparent;
                    // background-color: $gray-800;
                    // color: $white;
                    padding: 2px 10px;
                    border-radius: 4px;
                    font-size: 14px;
                    float: right;
                    @include Screen(SM){ 
                        font-size: 12px; 
                        padding: 2px 5px;
                    }

                    &:hover{
                        i{ color: $white; }
                        color: $white;
                        background-color: $green_light;
                    }
                    @include clearfix();
                }
            }
        }
    }
}

@include Responsive(MD){
    .property-listing {
        padding: 5px!important;
    }
    .property-listing a {
        margin: 0;
    }
    .property-listing .media-body {
        padding: 10px;
    }
}


@include Responsive(SM){

    .homepage__search{
        padding: 30px 15px;
    }
    .search__form{
    
        .form{

            .wrapper-head-form{
                flex-direction: column;
            }

            .search__locations{
                flex-direction: column;
            }

            .wrapper-bottom-form{
                padding: 0 20px 0;
                flex-direction: column;
                width: 100%;
            }
            .wrapper__more{
                width: 100%;
                max-width: unset;
                display: block;
                padding: 0 30px 10px;
                text-align: right;
            }
            

            .wrapper-select{
                width: 100%;
                margin: 0 0 10px;
            }
            .input-group{
                width: 100%;
                margin: 0 0 10px;
            }
            .wrapper-search-btn{
                
                width: 100%;
                margin: 0 0 10px;
            }
        }
    }
}
/// elementor-widget-wrap
/// link download pts 
/// https://download035.fshare.vn/dl/mvV0ttABfKecN-I5O-fuLmhwQheizih38XD31SSl7OMBymV1GivjZPtxLZIuChIF73dUHkqwvzwXkvze/Adobe_Photoshop_CC_2019_v20.0.7.zip