@import "./login_form";
@import "./login_form_chat";
.account{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 480px;
    padding: 0 5px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.page__login{
    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 0) url(/images/cityscape.jpg) no-repeat center center / cover;
        color: #fff;
        font-family: "Arial";
        font-size: 15px;
        min-height: 265px;
        padding: 10px 15px 10px;
        text-align: center;
        opacity: 0.5;
    }

    &__form{
        display: block;
        margin: 0 auto;
        width: 100%;
        background-color: #e5ffea;
        border-radius: 4px;
        box-shadow: 0 4px 32px 0 rgba(10, 14, 29, .02), 0 8px 64px 0 rgba(10, 14, 29, .08);
        padding: 15px;
    }

    &--faster{
        max-width: 750px;
    }
}