@import "../../library/button";

.form{

    &__title{
        padding:  0 20px 10px;
        line-height: 1.4;
        font-size: 22px;
        text-transform: capitalize;
        border-bottom: 1px dashed $gray-200;
    }
    .description{
        font-size: 15px;
        font-weight: 300;
        padding: 10px;
        color: $green_dark;

        .register-inline{
            color: $green;

            &:hover{
                color: $green_light;
            }
        }
    }
    .form-group {
        
        .error{
            display: block;
            text-align: left; 
            text-transform: capitalize;
            color: $red;
            font-size: 12px;
            font-weight: 100;
            line-height: 1.2;
        }
    
        .input-group {
            display: block;
            margin: 12px 0;
            position: relative;
            height: 50px;
            &:hover{

                .input-control{
                    border-bottom: 1px solid $green_dark;
                }
                .icon{
                    color: $green_dark;
                }
            }

            &.input-group-error{
                .input-control{
                    border-bottom: 1px solid $red!important;
                    color: $red!important;
                }
                .icon{
                    color: $red!important;
                }
            }

    
            .input-control {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                color: #525666;
                background-color: transparent;
                padding-left: 45px;
                border-radius: 0;
                font-size: 16px;
                @include Screen(MD) { font-size: 15px; }
                transition: border .3s linear;
                border: none;
                border-bottom: 1px solid #ccc;
                &:focus{

                    border-bottom: 1px solid $green_dark;
                }
                
            }
            .icon {
                position: absolute;
                top: 50%;
                left: 10px;
                display: block;
                font-size: 22px;
                z-index: 3;
                color: $gray-600;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
        .forgot-password{
            text-align: right;
            .forgot-link{
                color: $green;

                &:hover{
                    color: $green_light;
                }
            }
        }
    }
}

.btn-login {
    margin-top: 15px;
    color: #fff;
    background: #1c5732;
    display: block;
    font-size: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 0; 
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    @extend .btn-hero;
    background-color: $green;
    color: $white;
    border: none!important;
    width: 100%;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    @include btn-interaction($white, color-level($white, -8), $white)
}
.otherlogin{
    
    &__social{
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    &__item{
        color: #fff;
        background: #1c5732;
        display: block;
        font-size: 14px;
        text-align: center;
        margin: 2px;
        padding: 14px 0; 
        cursor: pointer;
        position: relative;
        border-radius: 4px;
        @extend .btn-hero;
        background-color: $green;
        color: $white;
        border: none!important;
        width: 100%;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        @include btn-interaction($white, color-level($white, -8), $white);
        i {
            width: 16px;
            height: 16px;
        }
        span{
            padding-left: 5px;
        }
        &:hover{
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }

        &--phone{
            color: $indigo;
            background-color: lighten($color: $indigo, $amount: 45%);
            &:hover{
                color: lighten($color: $indigo, $amount: 45%);
                background-color: $indigo;
            }
        }
        &--google{
            color: $white;
            background-color: $pink;
            &:hover{
                color: $pink;
                background-color: $white;
            }
        }
        &--facebook{
            color: $white;
            background-color: $blue;
            &:hover{
                color: $blue;
                background-color: $white;
            }
        }
    }
}