@import "../variable";
@import "../reboot";

@import "../library/awesome/awe_reboot";
@import "../library/awesome/brands";
@import '../library/awesome/duotone';
@import '../library/awesome/light';
@import '../library/awesome/regular';
@import '../library/awesome/solid';

@import "../library/grid";
@import "../library/button";
@import "../library/alert";
@import "../library/proress";
@import "../library/spinner";
@import "../library/gradient";

@import "../partial/custom_checkbox";
@import "../partial/custom_radio";
@import "../partial/tophead"; 
@import "../partial/header"; 
@import "../partial/navigation"; 
@import "../partial/footer";

/// phần react cần
@import "./chat/index";
@import "./login/login.scss";
@import "../library/modal_jquery";
@import "../library/modal_react";

body{
    overflow-x: hidden;
}
.Overlay{
    .page__login .form__chat{
        background-color: unset;
        border-radius: unset;
        box-shadow: unset;
        padding: 0;
        margin: 0;
    }
}
