.main-upload{
  .reset__background-color{
    background-color: transparent!important; 
    .progress-loadding{ background-color: transparent!important;  }
  }
  .uploads{
    display: flex;
    justify-content: center;
    align-items: center;
  
    @include Screen(SM){ justify-content: left; }
    &__photo, &__video{
      padding: 10px;
      display: block;
      text-align: center;
      width: 50%;
      font-size: 50px;
      color: $custom-green;
      background-color: #fff;
      border: 1px solid $custom-green;
      border-radius: 4px;
      margin: 2px;
      max-width: 200px;
      cursor: pointer;
      position: relative;

      &.hidden__color{
        color: $gray-700;
        border: 1px solid $gray-700;
      }
    }
    .limit__image{
      display: block;
      color: $custom-green;
      font-size: 9px;
      &.error{
        color: $pink;
      }
    }
    .plus{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 14px;
    }
  }
  .galleries{
    margin-top: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-flow: wrap;

    .image__block-item{
      width: 33.33%;
      @include Screen(SM){ width: 20%; }
      padding: 2px;
      max-width: 300px;
      
      img{
        width: 100%;
        height: auto;
        border: 1px solid $gray-200;
        border-radius: 4px;
      }

      .btn__delete-image{
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1111;
        font-size: 22px;
        color: $gray-700;
        cursor: pointer;
      }
    }
    
  }
}