.uploads{
  display: flex;
  justify-content: center;
  align-items: center;

  @include Screen(SM){ justify-content: left; }
  &__photo, &__video{
    padding: 10px;
    display: block;
    text-align: center;
    width: 50%;
    font-size: 50px;
    color: $custom-green;
    background-color: #fff;
    border: 1px solid $custom-green;
    border-radius: 4px;
    margin: 2px;
    max-width: 200px;
    cursor: pointer;
    position: relative;
  }
  .plus{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
  }
}