@import "../variable";
@import "../reboot";
// @import "alert.scss";
// @import "button.scss";
// @import "grid.scss";
// @import "proress.scss";
// @import "_custom_checkbox.scss";
// @import "_custom_radio.scss";



// @import "./_backtop.scss";
// @import "./_alo_now.scss";
// @import "./_header.scss";
// @import "./_tophead.scss";
// @import "./_navigation.scss";
// @import "./_navplus.scss"; 

@import "../partial/tophead"; 
@import "../partial/header"; 
@import "../partial/navigation"; 
@import "../partial/footer"; 

@import "../library/grid";
@import "../library/button";

@import "./product/breadcrumb";
@import "./product/content";
@import "../page/productions";
@import "./product/news";
@import "../library/modal_jquery";


$__background_product--detail: #f0f9fb;
.bg__product--detail{
  background-color: $__background_product--detail;
}

.blur.content__text{
  position: relative;
  &:after{
    position: absolute;
    content: ".";
    color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background-color: #ffd6cb;
    border-radius: 4px;
    z-index: 100;
  }
}
.comment{
  &__user{
    &--name{
      line-height: 1em;
    }
  }
  &__level{
    &--col0{
      padding: 0 5px;
    }
    &--col1{
      padding-top: 5px;
    }
  }
  .form__hero-control{
    font-size: 13px;
    line-height: 20px;
    color: $gray-900;
  }
}

.comment-text{
  width: fit-content;
  white-space: pre-line;
  position: relative;
  z-index: 2;
  font-size: 13px;
  line-height: 20px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  
  
  &.show{
    max-height: unset; /* fallback */
    -webkit-line-clamp: unset; /* number of lines to show */
    -webkit-box-orient: unset;
  }
  &.hidden{
    max-height: 100px; /* fallback */
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

.btn__action{
  margin: 3px 1px;
  padding: .175rem .75rem;
  font-size: 12px;
  background-color: $white;
  color: $custom-unique-color;
  border: 0!important;

  @include btn-interaction($custom-unique-color , color-level($custom-unique-color , -8), $white );
  &.active {
    background-color: $custom-unique-color;
    border: 2px solid color-level($custom-unique-color , -8);
    color: #fff;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  }
  &--report{
    &.active {
      opacity: 0.5;
      background-color: $custom-deep-orange;
      border: 2px solid color-level($custom-deep-orange , -8);
      color: #fff;
      box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    }
  }
}
.btn__more{
  margin: 3px 1px;
  padding: .175rem .75rem;
  font-size: 12px;
  background-color: transparent;
  color: $custom-unique-color;
  border: 1px solid $gray-100;
}
.ReactModal__Body--open{
  overflow: hidden;
}
.cursor-pointer{
  cursor: pointer;
}
.Overlay {
  z-index: 111111;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}



.modal.modal__notification{
  border-radius: 0;
  // height: 100%;
  padding: 0 15px 15px;
  @include Screen(SM){ padding: 15px 30px; }

  .modal__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid color-level($custom-green-dark, -10);

      i.icon{
          font-size: 18px;
          padding: 10px 8px;
          border-radius: 50%;
          color: $custom-green-dark;
          background-color: color-level($custom-green-dark, -11);
          width: 38px;
          height: 38px;
          text-align: center;
      }
      i.close{
          color: $custom-green-dark;
          font-size: 18px;
          padding: 5px 15px;
      }
      .title{
          font-size: 18px;
          font-weight: 700;
          text-transform: capitalize;
          color: $custom-green-dark;
          flex: 1;
          padding: 0 15px;
      }
  }
  .modal__body{
      padding: 20px 0;
  }
  .modal__footer{
      text-align: center;
      .btn__close{
        border-radius: 0;
        border: 2px solid $custom-success-color-dark !important;
        background-color: transparent !important;
        color: $custom-success-color-dark !important;
        @include btn-interaction(color-level($custom-success-color-dark, -8), $white, $white)
      }
      .btn__login{
        background-color: $custom-success-color-dark;
        color: $white;
        border: 2px solid $custom-success-color-dark;
        border-radius: 0;
        @include btn-interaction($white, color-level($custom-success-color-dark, -8), $custom-success-color-dark)
      }
  }
}