@import "../variable";
@import "../reboot";
// @import "alert.scss";
// @import "button.scss";
// @import "grid.scss";
// @import "proress.scss";
// @import "_custom_checkbox.scss";
// @import "_custom_radio.scss";



// @import "./_backtop.scss";
// @import "./_alo_now.scss";
// @import "./_header.scss";
// @import "./_tophead.scss";
// @import "./_navigation.scss";
// @import "./_navplus.scss"; 

@import "../partial/tophead"; 
@import "../partial/header"; 
@import "../partial/navigation"; 
@import "../partial/footer"; 

@import "../library/grid";
@import "../library/button";

@import "./product/breadcrumb";
@import "./product/content";
@import "../page/productions";
@import "./product/news";


$__background_product--detail: #f0f9fb;
.bg__product--detail{
  background-color: $__background_product--detail;
}

.comment-text{
  width: fit-content;
  white-space: pre-line;
  position: relative;
  z-index: 2;
  font-size: 13px;
  line-height: 20px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  
  
  &.show{
    max-height: unset; /* fallback */
    -webkit-line-clamp: unset; /* number of lines to show */
    -webkit-box-orient: unset;
  }
  &.hidden{
    max-height: 100px; /* fallback */
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

.btn__action{
  margin: 3px 1px;
  padding: .175rem .75rem;
  font-size: 12px;
  background-color: $white;
  color: $custom-unique-color;
  border: 0!important;

  @include btn-interaction($custom-unique-color , color-level($custom-unique-color , -8), $white )
}
.btn__more{
  margin: 3px 1px;
  padding: .175rem .75rem;
  font-size: 12px;
  background-color: transparent;
  color: $custom-unique-color;
  border: 1px solid $gray-100;
}