
.header{
    background-color: $white;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    position: relative;
}

.btn_header_toggle__menu{
    float: right;
    font-size: 30px;
    padding: 20px 15px 10px 0;
    cursor: pointer;
    display: none;
}

.logo{
    position: absolute;
    left: 15px;
    top: 50%;
    @include render-transform(translateY(-50%));
    display: inline-block;

    &__img{
        max-width: 40px;
        max-height: 40px;
    }
        
    &__application_name{

        color: aliceblue;
    }
}


.menu{
    position: relative;
    @include clearfix();

    &__mobile_close{
        display: none;
    }
    
}

@include Responsive(SM){

    .btn_header_toggle__menu{
        display: unset;
    }
   
    .menu{

        &__mobile_close{
            
            padding: 10px;
            margin: 0;
    
            .menu__mobile_close__icon{
                font-size: 30px;    
            }
        }
    }
}