
.search__form{

    .form{

        .select2__home-bottom{
            &.wrapper-select{
                width: 33.3%;
            }

            
            @include Responsive(SM){

                &.wrapper-select{
                    width: 100%;
                }
            }

            .select2-selection--single{
                height: 40px;
                background-color: transparent;
                color: $white;

                .select2-selection__rendered{
                    line-height: 40px;
                    color: $white;
                }

                .select2-selection__arrow{
                    line-height: 40px;
                    height: 40px;  
                }

                &:hover{

                    .select2-selection__rendered{
                        color: $green_light;
                    }
                    .select2-selection__arrow{
                        color: $green_light;
                    }
                }
            }
        }
        /**
        * update select2
        */
        .select2-selection--single{
            border-radius: 0;
            height: 48px;
            border: 1px solid #e0e0e0;
            background-color: #f0f0f0;
            

            .select2-selection__rendered{
                line-height: 50px;
                padding-left: 10px;
                padding-right: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .select2-selection__arrow{
                line-height: 50px;
                height: 54px;
                

                b[role=presentation]{
                    font-weight: 400;
                    font-family: 'Font Awesome 5 Pro';
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    /** reset presentation arrow */
                    border-color: unset;
                    border-style: unset;
                    border-width: unset;
                    height: unset;
                    left: unset;
                    margin-left: unset;
                    margin-top: unset;
                    position: unset;

                    &:before{
                        content: "\f078";
                        box-sizing: border-box;
                    }
                }
                    
            }
            &:hover{

                .select2-selection__rendered{
                    color: $green_light;
                }
                .select2-selection__arrow{
                    color: $green_light;
                }
            }
        }
        /** end update select2 */
    }
}


  
            
/**
* update select2
*/
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: $green_dark!important;
    color: $green_light!important;
}

.wrapper-range-select2{
    width: 80%;
    margin: 0 auto;
    padding-top: 5px;
    // .text-click-me{
        
    // }
    .value-price{
        padding-top: 5px;
    }
}
/** end update select2 */

/// elementor-widget-wrap
/// link download pts 
/// https://download035.fshare.vn/dl/mvV0ttABfKecN-I5O-fuLmhwQheizih38XD31SSl7OMBymV1GivjZPtxLZIuChIF73dUHkqwvzwXkvze/Adobe_Photoshop_CC_2019_v20.0.7.zip