.homepage__search{
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 50px;
    z-index: 10;
    
}

.homesearch{
    
    &__title{
        
        
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding: 0 5px;
    }

    &__main-title{
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0 20px 0;
    }

    &__select-category{
        display: block;
        width: 30%;
    }
}
/// elementor-widget-wrap
/// link download pts 
/// https://download035.fshare.vn/dl/mvV0ttABfKecN-I5O-fuLmhwQheizih38XD31SSl7OMBymV1GivjZPtxLZIuChIF73dUHkqwvzwXkvze/Adobe_Photoshop_CC_2019_v20.0.7.zip