
.intro{
    display: flex;
    flex-direction: row;
    @include Responsive(SM){
        
        flex-direction: column;
        .myservice{
            width: 100%;
        }
    }
    padding-bottom: 15px;

    .myservice{
        
        width: 33.33%;
        padding: 15px 15px 0 15px;

        @include Responsive(SM){
        
            width: 85%;
            margin: 0 auto;
        }
        @include Responsive(XS){
        
            width: 100%;
            margin: 0 auto;
        }

        .block{
            padding: 18px 10px;
            border-radius: 8px;
            box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5);
            background-color: #ffffff;
            padding: 18px;
            

            &__head{
                display: flex;
                align-items: center;
                justify-content: center;

                @include Responsive(LG){

                    justify-content: left;
                }
                @include Responsive(SM){
        
                    justify-content: center;
                }

                .title{
                    font-size: 18px;
                    margin-left: 20px;
                }
            }
            &__content{
                display: flex;
                justify-content: center;

                @include Responsive(LG){

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                @include Responsive(SM){

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }


                &__item{
                    
                    padding: 5px 5px 5px 40px;
                    position: relative;

                    .count__icon{
                        position: absolute;
                        top: 10px;
                        left: 5px;
                        z-index: 1;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        padding: 5px;

                        &:before{
                            content: ".";
                            color: transparent;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            z-index: 0;
                            border-radius: 50%;
                            opacity: 0.2;
                            background-color: $custom-success-color;
                        }
                        img{
                            position: relative;
                            z-index: 2;
                        }
                    }
                    .count__text{
                        padding: 5px;
                        display: block;

                        .count{
                            font-size: 18px;
                            font-weight: 700;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: $green_dark;
                        }
                        .texttype{
                            font-size: 14px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.71;
                            letter-spacing: normal;
                            color: $custom-elegant-color;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
}