.wrapper-navplus{
    float: right;
}


.navplus{
    margin: 0;
    padding: 15px 30px 0;
    display: block;
    @include clearfix();

    
    &__link{
        position: relative;
        float: left;
        padding: 0 10px;
        margin: 0;

        
        a{
            display: block;
            border: 1px solid $gray_custom_nav;
            background-color: $gray_custom_nav;
            border-radius: 20px;
            @include clearfix();
        }

        img{
            max-width: 36px;
            max-height: 36px;
            border-radius: 20px;
            display: inline-block;
            vertical-align: middle;
        }
        i{
            display: inline-block;
            color: $green_dark;
            padding: 10px 9px;
            font-size: 18px;
            width: 36px;
            height: 36px;
            border-radius: 20px;
            background-color: $gray-200;
            color: #89aa72;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
        }
        .title{
            color: $green_dark;
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            font-weight: 100;
            padding: 0 10px 0 0;
            max-width: 180px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }
}

@include Responsive(MD){

    .navplus{

        &__link{
            padding: 0 5px;
        }
    }
    
}


@include Responsive(XS){

    .navplus{
        padding: 15px 10px 7px;

        &__link{
            
            .title{
                
                max-width: 100px; 
            }
    
        }
    }
    
}


@include Responsive(XXS){

    .navplus{
        padding: 15px 0 7px 0;
        &__link{
            padding: 0 2px;
            .title{
                
                max-width: 70px;
            }
    
        }
        .btn-logout-header{
            display: none;
        }
    }
    
}