

.wrapper-navigate{
    float: right;
}


.navigate{
    margin: 0;
    padding: 6px 30px;
    display: block;
    @include clearfix();

    
    &__link{
        position: relative;
        display: inline-block;
        padding: 0 25px;
        margin: 0 2px;
        border-bottom: 2px solid transparent;

        
        a{
            display: block;
            text-decoration: none!important;
        }

        i{
            color: $green_dark;
            padding: 5px;
            font-size: 18px;
            position: absolute;
            left: 50%;
            top: 0;
            @include render-transform(translateX(-50%));
        }
        .title{
            color: $green_dark;
            padding: 28px 0 4px 0;
            display: block;
            line-height: 1;
            font-weight: bold;
        }

        &.active{

            border-color: $green_dark;

            i{
                color: $red_dark;
            }
        }
        &:hover:not(.active){
            background-color: #f3ffcc;
            border-radius: 4px;
            
            i{
                color: $red_dark;
            }
        }
    }
    .btn-logout-header, .btn-register-header{
        display: none;
    }
}


@include Responsive(LG){

    .navigate{

        padding: 6px 10px;

        &__link{

            padding: 0 5px;
        }
    }
    
}

@include Responsive(SM){
    

    .menu{
        .wrapper-navigate{
            float: none;
        }
        &.show{
            .wrapper-navigate{
                opacity: 1;
                z-index: 111111111;
                left: 0;
                right: 0;
                overflow-y: scroll;
            }
        }
        .wrapper-navigate{
            display: block;
            float: none;
            opacity: 0;
            position: fixed;
            z-index: -1;
            left: -767px;
            right: 767px;
            top:0;
            bottom: 0;
            -webkit-transition: 0.2s 0s;
            -o-transition: 0.2s 0s;
            transition: 0.2s 0s;
            @include render-gradient(0deg, #ffd1d4, #d6ffc6);

            .navigate{
                padding: 0 10px;
                &__link{
                    display: block;
                    padding: 10px 20px 5px 10px;
                    border-bottom: 1px dashed #ced4da;
    
                    a{
                        display: block;
                        font-size: 15px;
                        
                    }
            
                    i{
                        display: inline-block;
                        color: $green_dark;
                        padding: 5px;
                        font-size: 18px;
                        position: unset;
                        left: unset;
                        top: unset;
                        @include render-transform(unset);
                    }
                    .title{
                        display: inline-block;
                        color: $green_dark;
                        padding: 0px 0 2px 0;
                        line-height: 1;
                        font-weight: bold;
                    }
            
                    &.active{
            
                        i{
                            color: $red_dark;
                        }
                        .title{
                            color: $red_dark;
                        }
                    }
                    &:hover:not(.active){
                        background-color: #f3ffcc;
                        border-radius: 4px;
                        
                        i{
                            color: $red_dark;
                        }
                    }
                }
            }
        }

        
    }
    
}


@include Responsive(XXS){

    .navigate{

        .btn-logout-header, .btn-register-header{
            display: block;
        }
    }
    
}