.page__register{

    // background: url('/images/background/background-topbds.jpg');
    display: inline-block;
    width: 100%;
    min-height: 200px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 16px;

    .page__register__bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 0) url(/images/cityscape.jpg) no-repeat fixed center center / cover;
        color: #fff;
        font-family: "Arial";
        font-size: 15px;
        min-height: 265px;
        padding: 60px 15px 10px;
        text-align: center;
        opacity: 0.5;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.4;
    }

    &__form{
        display: block;
        max-width: 450px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
}