$green_dark: #0d1f06;
$green_light: #6bb363;

.tophead{
    border-top: 3px solid $green_light;
    background-color: $green_dark;
    color: $white;
}
.social{
    padding: 0 20px;

    svg{
        width: 20px;
        vertical-align: middle;
    }

    &__link{
        display: inline-block;
        padding: 0 5px;
    }
}