.profile{

    &__head{
        @include render-gradient(0deg, rgba(100, 147, 88, 0.1), rgba(100, 147, 88, 0.5));

        &-img{
            height: 150px;
            background-size: cover;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            @include Screen(MD){ height: 200px; }
            @include Screen(Lg){ height: 280px; }
        }
    }
}