.profile{
    
    padding: 0 15px;
    @include render-gradient(0deg, rgba(248, 255, 234, 0.5), rgba(64, 88, 68, 0.9));

    &__wrapper{
        max-width: 1100px;
        margin: 0 auto;
        padding: 0.5rem;
        transform: translateY(2rem);
        position: relative;
    }
    &__head{
        display: flex;
        align-items: center;
        flex-direction: column;

        &-body{
            flex: 1;
            text-align: center;
        }
        .avatar{
            width: 90px;
        }
    }
    &__right{
        position: absolute;
        top: 60%;
        right: 0;
    }
}

@include Screen(MD){
    .profile{
    
        &__wrapper{
            transform: translateY(4rem);
        }
        &__head{
            align-items: center;
            flex-direction: row;

            &-body{
                text-align: left;
            }
            .avatar{
                width: 130px;
            }
        }
        &__right{
            position: unset;
            top: unset;
            right: unset;
        }
    }
    
}