
@import "../../styles/variable";
@import "../../styles/mixin";

.slider{
    overflow: hidden;
    border-radius: 4px;
    // background-color: $green_dark;
    border: 1px solid color-level($custom-blue-grey, -7);


    .slick-dots{
        li{
            margin: 0;
            &.slick-active button:before{
                // background-color: $red;
                color: $pink;
            }
        }
    }
    &Item{
        display: flex!important;
        justify-content: center;
        align-items: center;
        
        &Image{
            width: 40%;
            img{
                width: auto;
            }
        }

        &Content{
            
            overflow: hidden;
            padding: 15px;
            width: 60%;
        }
        @include ScreenMax( XS ){ 
            flex-direction: column;
            &Image{
                width: 60%;
                padding: 5px;
            }
            &Content{
                width: 100%;
            }
        }
        &Topic{
            font-size: 14px;
            font-weight: 700;
            color: $gray-800;

            time{
                display: inline;
                font-weight: 100;
                font-size: 12px;
            }
        }
        &Title{
            padding-top: 15px;
            padding-bottom: 20px;
            @include ScreenMax( MD ){ font-size: 1.25rem; }
        }
        &Des{

            font-size: 14px;
            font-weight: normal;
            line-height: 1.4;
        }
    }
    
}