@import "./message/myinfor.scss";
@import "./message/head-info.scss";
.message{
    flex: 1;
    flex-grow: 999;
    position: relative;

    &__content{
        display: flex;
        flex-direction: column;
        position: relative;

        &--progress{
            position: absolute;
            left: 20%;
            right: 20%;
            height: 100%;
            min-height: 40px;
            z-index: 111;
            top: 40%;
        }
    }
}